html {
  height: 100%;
}

body {
  min-height: 100vh;
  background: #C7C2C2;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  background: #40424F;
}

.main {
  flex: 1;
}

.header {
}

.header img {
  height: 60px;
  padding: 12px;
}

.footer {
  height: 45px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}